# Errata.ipynb: pull errata and add those found

In [1]:
import requests
import pandas as pd
import bs4
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_colwidth', 300)

getting the page data: creates list of `<p>` tags in the appropriate div

In [2]:
url = "https://www.statlearning.com/errata-python-edition"
response = requests.get(url)
soup = bs4.BeautifulSoup(response.text, "html.parser")
ps = (
    soup.find_all("div", class_="sqs-html-content")[1] # 1 was manually determined 
        .find_all("p")
)

Formatting into DataFrame

In [8]:
from copy import copy
errata_list = []
for p in ps:
    if p.text[:2].lower() in ["in", "on"]: 
        # nb casefold does more than lower but we won't need it atm
        pp = copy(p)
        em = ""
        if pp.em:
            em = pp.em.extract().text.strip() 
            if em[-1]=='.': 
                em = em[:-1]
            thanks_to = "Thanks to"
            if em and em[: len(thanks_to)].lower() == thanks_to.lower():
                em = em[len(thanks_to):]
        errata_list.append([pp.text, em, True])
errata = pd.DataFrame(
    errata_list, 
    columns=["Errata", "Attribution", "From Author Website"]
    )

Pull out page number from the erratum

In [4]:
# Import re module
import re

# Define extract_digits function
def extract_digits(string):
    # Find the first match of one or more digits in the string
    match = re.search(r"\d+", string)
    # Get the matched substring or None
    digits = match.group() if match else None
    # Convert the substring to an integer or 0
    return int(digits) if digits else 0

errata["Page Number"] = errata["Errata"].apply(extract_digits)

Viewing the data.
  - as of 18th September 2023, there are 18 entries

In [7]:
print("number of rows:", len(errata))
(
    errata.style.set_properties(**{"text-align": "left"}) #left-align text
        .set_table_styles([dict(selector="th", props=[("text-align", "left")])]) #left-align headers
)

number of rows: 18

Saving the errata DataFrame to disk

In [6]:
errata.to_csv("errata.csv")

Optional: Saving Raw HTML (mainly for debugging)

In [9]:
from pathlib import Path
raw_response = Path("./errata.html")
raw_response.write_text(response.text)

273711